.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  height: 4rem;
  z-index: 10;

  padding: 0 1rem;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.5);
    background: linear-gradient(
      0deg,
      transparent 0%,
      var(--black) 90%,
      var(--black) 100%
    );
  }
  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    h1 {
      font-size: 2rem;
      color: white;
    }
    .header-nav-group {
      display: flex;
      gap: 0.5rem;
      button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-size: 1.5rem;
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
