#root {
  color: #969696;
}
.btn {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.25rem;
}
.btn-icon {
  padding: 0.5rem;
  svg {
    font-size: 1.5rem;
  }
}
.btn-primary {
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(152, 52, 223, 1) 100%
  );
  color: white;
}

.w-full {
  width: 100%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
